# App Configuration
API_VERSION=v1  
PORT=3000
SWAGGER_ENDPOINT="docs" # http://localhost:3000/docs
APP_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3001,http://localhost:3002
USE_AWS=false

# PostgreSQL Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123456
DATABASE_NAME=vibe-match
DATABASE_AUTOLOAD=false
DATABASE_SYNC=false
DATABASE_MIGRATIONS_RUN=true

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=0

# JWT Configuration
JWT_SECRET=b7e232483066d5fcd7a40db381cf6cf7
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600000000 
JWT_REFRESH_TOKEN_TTL=86400
JWT_REFRESH_TOKEN_SECRET=b7e232483066d5fcd7a40db381cf6cf7

# OAuth with Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT= 465
SMTP_USERNAME=
SMTP_PASSWORD=

#Judge0
JUDGE0_URL=http://localhost:2358
JUDGE0_USE_CE=true  
JUDGE0_CALLBACK_URL=http://localhost:3000 #OR NGROK ENDPOINT
RAPIDAPI_KEY=
RAPIDAPI_HOST=judge0-ce.p.rapidapi.com
#Moodle Configuration
LTI_PLATFORM_ID=http://localhost:8888
LTI_CLIENT_ID=QBdCSPSxYKgQvLA
LTI_DEPLOYMENT_ID=1
LTI_PUBLIC_KEYSET_URL=http://localhost:8888/mod/lti/certs.php
LTI_ACCESS_TOKEN_URL=http://localhost:8888/mod/lti/token.php
LTI_AUTHENTICATION_REQUEST_URL=http://localhost:8888/mod/lti/auth.php
LTI_TOOL_URL=http://localhost:3000
LTI_TOOL_PUBLIC_KEYSET_URL=http://host.docker.internal:3000/v1/.well-known/jwks.json
LTI_TOOL_INITIATE_LOGIN_URL=http://localhost:3000/v1/lti/login
LTI_TOOL_REDIRECTION_URI=http://localhost:3000/v1/lti/launch

LTI_AGS_TOKEN_EXPIRY_BUFFER=60
LTI_AGS_REQUEST_TIMEOUT=10000
LTI_AGS_RETRY_ATTEMPTS=3
LTI_AGS_RETRY_DELAY=2000
LTI_AGS_SESSION_TTL=86400
# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY= 
AWS_S3_REGION=
AWS_S3_BUCKET_NAME=

# LTI Frontend Callback URLs
LTI_FRONTEND_STUDENT_CONTEST_URL=http://localhost:3001/contests/{{CONTENT_ID}}/description
LTI_FRONTEND_INSTRUCTOR_CONTEST_URL=http://localhost:3002/contests/{{CONTENT_ID}}/edit
LTI_FRONTEND_SELECT_CONTENT_URL=http://localhost:3002/options
LTI_FRONTEND_STUDENT_SET_COOKIES_URL=http://localhost:3001/api/proxy/signin
LTI_FRONTEND_INSTRUCTOR_SET_COOKIES_URL=http://localhost:3002/api/proxy/signin


# Submission
SUBMISSION_CLEANUP_STREAM_TIME=60000
SUBMISSION_PING_TIME=3000
JOB_ATTEMPTS=5
JOB_BACKOFF_TYPE=exponential
JOB_BACKOFF_DELAY=1000
JOB_REMOVE_ON_COMPLETE=true
JOB_REMOVE_ON_FAIL=50
